<br>
<br>
<br>
<br>
<br>
<br>
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <br>
                    <br>
                
                    <h1 class="display-1 lh-1 mb-3">Conred Guatemala</h1>
                    <p class="lead fw-normal text-muted mb-5">Aplicacion de administracion de donaciones</p>

                    <br>
                    <br>
                    <br>

                </div>
            </div>
        </div>
    </div>
</header>